.topnav {
  overflow: hidden;
  background-color: rosybrown;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  margin: 15px 15px 15px 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font: bold;
  text-decoration: none;
  padding: 10px;
}
.topnav a.con {
  float: right;
}
body {
  font-family: helvetica;
}

a:hover {
  color: rebeccapurple;
  text-decoration: none;
}
.topnav a.active {
  text-decoration: #fff;
  color: azure;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  width: 48%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-buttons button:nth-child(1) {
  background-color: #007bff;
  color: white;
}

.modal-buttons button:nth-child(2) {
  background-color: #dc3545;
  color: white;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}

.container h1 {
  text-decoration: overline;
  box-shadow: 0 5px 5px rosybrown;
  color: rosybrown;
  text-align: center;
}
.container h2 {
  text-decoration: overline;
  box-shadow: 0 5px 5px rosybrown;
  color: rosybrown;
  text-align: center;
}
.team .member {
  margin: 10px 10px 10px 10px;
}
.team img {
  width: 50%;
  height: 450px;
  border-radius: 30%;
  box-shadow: 0 5px 5px rosybrown;
}
.con h2 {
  text-decoration: overline;
  color: rosybrown;
  box-shadow: 0px 0px 5px 5px;
  text-align: center;
}

.mySlides video {
  width: 55%;
  border-radius: 25px 25px 25px 25px;
}

.row {
  display: flex;
  box-sizing: border-box;
}

.services {
  padding-bottom: 20px;
  width: 50%;
  margin-left: 25%;
}
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
  box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #fff;
  opacity: 0.6;
}
.services .icon-box:hover {
  opacity: 0.6;
  transform: scale(0.9);
}
.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}
.services .icon i {
  font-size: 36px;
  line-height: 1;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #111;
}
.services .title a {
  color: #111;
}
.services .icon-box-cyan .icon {
  background: #e6fdfc;
}
.services .icon-box-cyan .icon i {
  color: #3fcdc7;
}
.services .icon-box-cyan:hover {
  border-color: #3fcdc7;
}
.services .icon-box-green .icon {
  background: #eafde7;
}
.services .icon-box-green .icon i {
  color: #41cf2e;
}
.services .icon-box-green:hover {
  border-color: #41cf2e;
}
.services .icon-box-blue .icon {
  background: steelblue;
}
.services .icon-box-blue .icon i {
  color: #2282ff;
}
.services .icon-box-blue:hover {
  border-color: #2282ff;
}

.service-details {
  padding-bottom: 10px;
}

.team {
  background: #fff;
  padding-bottom: 30px;
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: -40px;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
  background: rosybrown;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .member .social a {
  transition: color 0.3s;
  color: #fff;
  margin: 0 12px;
  display: inline-block;
}
.team .member .social a:hover {
  color: rosybrown;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin: 15px 0 5px 0;
  font-size: 18px;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
  color: rosybrown;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #666;
}
.team .member:hover .social {
  bottom: 0;
  opacity: 1;
  transition: bottom ease-in-out 0.4s;
}
.team .member:hover .social a,
.team .member:hover .social i {
  line-height: 0;
  font-size: 18px;
}
.contact {
  padding-bottom: 30px;
}
footer {
  text-align: center;
  padding: 16pt;
  background-color: rosybrown;
  color: #000;
}

.mySlides {
  display: none;
}
.my .slideshow-container {
  max-width: 1000px;
  position: relative;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.9s ease;
}
.activee {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 20s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.09;
  }
  to {
    opacity: 1;
  }
}

.form {
  width: 40%;
  align: center;
  margin: 200px;
  margin-left: 400px;
}
button {
  background-color: rosybrown;
  width: 40%;
  text-align: center;
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid rosybrown;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rosybrown;
}
.form,
form {
  padding: 20px;
}
.form,
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rosybrown;
}
.container h3 {
  font-family: monospace;
  text-decoration: overline;
  font-size: 25px;
}

.facts .counters span {
  font-size: 48px;
  display: block;
  color: #68a4c4;
}
.facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.testimonials {
  padding: 60px 0;
}

.testimonials .testimonial-item {
  text-align: center;
}
.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.service-details {
  padding-bottom: 10px;
}
.service-details .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
}
.service-details .card-img {
  width: 80%;
  margin-left: -30px;
  overflow: hidden;
  border-radius: 0;
  height: 350px;
}
.service-details .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 10%;
}
.service-details .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rosybrown;
  margin-top: -60px;
  transition: 0.3s;
}
.service-details .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.service-details .card-title a {
  color: rosybrown;
  transition: 0.3s;
}
.service-details .card-text {
  color: #5e5e5e;
}
.service-details .read-more a {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
  background-color: rosybrown;
  padding: 5px;
}
.service-details .read-more a:hover {
  color: rosybrown;
}
.service-details .card:hover img {
  transform: scale(1.1);
}
.service-details .card:hover .card-body {
  border-color: #68a4c4;
}
.service-details .card:hover .card-body .card-title a {
  color: #68a4c4;
}

.portfolio .portfolio-item h3 {
  color: rosybrown;
  font-family: monospace;
  text-align: center;
  text-decoration: overline;
}
.portfolio .portfolio-item img {
  transition: all 0.3s ease-in-out;
  margin-left: 200px;
  height: 450px;
  width: 80%;
  border-radius: 30%;
  box-shadow: 5px 7px rosybrown;
}
.portfolio .portfolio-item:hover img {
  opacity: 0.6;
  transform: scale(0.8);
}
.team {
  background: #fff;
  padding-bottom: 30px;
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: -40px;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
  background: rgba(30, 67, 86, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .member .social a {
  transition: color 0.3s;
  color: #fff;
  margin: 0 12px;
  display: inline-block;
}
.team .member .social a:hover {
  color: #68a4c4;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin: 15px 0 5px 0;
  font-size: 18px;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
  color: #68a4c4;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #666;
}
.team .member:hover .social {
  bottom: 0;
  opacity: 1;
  transition: bottom ease-in-out 0.4s;
}
.team .member:hover .social a,
.team .member:hover .social i {
  line-height: 0;
  font-size: 18px;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.category {
  text-align: center;
  margin: 15px;
}

.category img {
  width: 400px;
  height: 400px;
  border-radius: 30%;
  margin-bottom: 10px;
  box-shadow: 3px 5px rosybrown;
  transition: bottom ease-in-out 0.4s;
}

.contact {
  padding-bottom: 30px;
}
#form {
  width: 70%;
}
.contact .info-box {
  color: #444;
  text-align: center;
  box-shadow: 0px 5px 5px rosybrown;
  margin-bottom: 30px;
  width: 50%;
  height: 250px;
}
.contact .info-box i {
  font-size: 32px;
  color: #68a4c4;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #a2cce3;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #666;
  font-weight: 700;
  margin: 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.map {
  padding: 0;
  margin-bottom: -6px;
}
.map iframe {
  width: 100%;
  height: 380px;
}
.blog {
  padding: 40px 0 20px 0;
}
.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}
.blog .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}
.blog .entry .entry-title a {
  color: #1e4356;
  transition: 0.3s;
}
.blog .entry .entry-title a:hover {
  color: #68a4c4;
}
.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: #72afce;
}
.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}
.blog .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}
.blog .entry .entry-meta a {
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}
.blog .entry .entry-content p {
  line-height: 24px;
}
.blog .entry .entry-content .read-more {
  text-align-last: right;
}
.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: #68a4c4;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
}
.blog .entry .entry-content .read-more a:hover {
  background: #7aafcb;
}
.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}
.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.blog .entry .entry-content blockquote p {
  color: #444;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}
.blog .entry .entry-content blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #1e4356;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}
.blog .entry .entry-footer i {
  color: #4c99c1;
  display: inline;
}
.blog .entry .entry-footer a {
  color: #255269;
  transition: 0.3s;
}
.blog .entry .entry-footer a:hover {
  color: #68a4c4;
}

.blog .entry-single {
  margin-bottom: 30px;
}

.blog .blog-comments {
  margin-bottom: 30px;
}
.blog .blog-comments .comments-count {
  font-weight: bold;
}
.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}
.blog .blog-comments .comment .comment-img {
  margin-right: 14px;
}
.blog .blog-comments .comment .comment-img img {
  width: 60px;
}
.blog .blog-comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}
.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #444;
  transition: 0.3s;
}
.blog .blog-comments .comment h5 a:hover {
  color: #68a4c4;
}
.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #1e4356;
}
.blog .blog-comments .comment h5 .reply i {
  font-size: 20px;
}
.blog .blog-comments .comment time {
  display: block;
  font-size: 14px;
  color: #2b607c;
  margin-bottom: 5px;
}
.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}
.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}
.blog .blog-comments .reply-form p {
  font-size: 14px;
}
.blog .blog-comments .reply-form input {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}
.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #b1d0e1;
}
.blog .blog-comments .reply-form textarea {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}
.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #b1d0e1;
}
.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}
.blog .blog-comments .reply-form .btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: #1e4356;
}
.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #255269;
}
.blog .blog-pagination {
  color: #387ea2;
}
.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.blog .blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}
.blog .blog-pagination li a {
  color: #1e4356;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
  background: #68a4c4;
}
.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
  color: #fff;
}
.blog .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #1e4356;
  position: relative;
}
.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}
.blog .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
}
.blog .sidebar .search-form form input[type="text"] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}
.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: #68a4c4;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}
.blog .sidebar .search-form form button i {
  line-height: 0;
}
.blog .sidebar .search-form form button:hover {
  background: #77adca;
}
.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}
.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}
.blog .sidebar .categories ul a {
  color: #1e4356;
  transition: 0.3s;
}
.blog .sidebar .categories ul a:hover {
  color: #68a4c4;
}
.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}
.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}
.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}
.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}
.blog .sidebar .recent-posts h4 a {
  color: #1e4356;
  transition: 0.3s;
}
.blog .sidebar .recent-posts h4 a:hover {
  color: #68a4c4;
}
.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #aaaaaa;
}
.blog .sidebar .tags {
  margin-bottom: -10px;
}
.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}
.blog .sidebar .tags ul li {
  display: inline-block;
}
.blog .sidebar .tags ul a {
  color: #3f8db5;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #e4eff5;
  display: inline-block;
  transition: 0.3s;
}
.blog .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #68a4c4;
  background: #68a4c4;
}
.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: #bedae8;
  font-size: 14px;
}
