<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Fashion Blog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="static/assets/css/style.css" rel="stylesheet">
</head>

<body>
<!-- navigation bar-->
<nav class="topnav">
    <a href="/">Home</a>
    <a href="course">Courses</a>
    <a href="recommentcourses">Recommend Course</a>
 
    <a href="details">User Detais</a>
   
</nav>
   
      <section class="contact">
         <div class="container">
          <center>
                   <div class="info-box">
                     <h3>Our Address</h3>
                     <p>A108 Kabarak, Nakuru, Kabarak 535022</p>
                   </div>
              
   
                 
                   <div class="info-box">
                     <h3>Email Us</h3>
                     <p>neema@example.com<br>contact@example.com</p>
                   </div>
                 
                   <div class="info-box">
                     <h3>Call Us</h3>
                     <p>+254 703 636 494<br>+254 102 102 551</p>
                   </div>
                 
                         
              <div id="form">
                <form style="text-align: center;">
                <input type="text" placeholder="FirstName" size="40" id="firstname"><br>
                <input type="text" placeholder="SecondName" size="40" id="secondname"><br>
                <input type="text" placeholder="Email" size="40" id="email"><br>
                <input type="password"  placeholder="Password"  id="password" size="8"><br>
                <input type="checkbox" value="remember-me">  Keep me logged in<br>
                <button type="submit">SIGN IN</button><br>
                <a href="#"> Forgot Password?</a><br>
                <label style="margin: 20px;">New User</label><a href="register.html">Register</a>
                </form>
             </div>
             </center>
           </div>
       </section>
   
       <!-- Map Section -->
       <section class="map mt-2">
         <center><div class="mapouter"> 
         <div class="gmap_canvas">
           <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Kabarak%20Nakuru&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org">Bluebell</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:1200px;}</style><a href="https://www.embedgooglemap.net">Nakuru</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1200px;}</style>
         </div>
         </div></center>
       </section>
       
   </body>
   </html>
</body>
<footer style="margin-top: 43%;">
    <small>
      Copyright © 2024 Course Recommendation System. All Rights Reserved.
    </small>
  </footer>
</html>

