<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>COURSE RECOMMENDER</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link href="static/assets/css/style.css" rel="stylesheet" />
  </head>

  <style>
    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    .course-card {
      width: 300px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    .course-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-bottom: 1px solid #ccc;
    }

    .course-details {
      padding: 20px;
    }

    h2 {
      color: #333;
      margin-bottom: 10px;
    }

    p {
      color: #777;
      margin-bottom: 10px;
      line-height: 1.5;
    }
  </style>

  <body>
    <!-- navigation bar-->
    <nav class="topnav">
      <a href="/">Home</a>
      <a class="active" href="course">Courses</a>
      <a href="recommentcourses">Recommend Courses</a>

      <a class="con" href="contact">Contact Us</a>
      <a href="details">User Detais</a>
    </nav>
    <div class="container">
      <h1>EXPLORE COURSES</h1>
    </div>

    <section>
      <!-- Software Engineering -->
      <div class="course-card">
        <img
          class="course-image"
          src="static/assets/img/portfolio/portfolio-2.jpg"
          alt="Software Engineering"
        />
        <div class="course-details">
          <h2>Software Engineering</h2>
          <p>
            Software engineering focuses on the design, development, testing,
            and maintenance of software systems. It involves programming,
            problem-solving, and understanding algorithms and data structures.
          </p>
          <p>
            A good foundation in mathematics and computer science is essential.
            Universities offering software engineering may require specific
            subjects like mathematics and computer studies, and some may require
            a minimum KCSE grade.
          </p>
        </div>
      </div>

      <!-- Medicine -->
      <div class="course-card">
        <img
          class="course-image"
          src="static/assets/img/portfolio/portfolio-3.jpg"
          alt="Medicine"
        />
        <div class="course-details">
          <h2>Medicine</h2>
          <p>
            Medicine involves the study of the human body, diseases, and medical
            treatments. It leads to careers as doctors, surgeons, or other
            medical professionals.
          </p>
          <p>
            Usually, a strong performance in biology, chemistry, and physics is
            necessary. Some universities might have additional requirements,
            such as a minimum grade in KCSE and specific subjects.
          </p>
        </div>
      </div>

      <!-- Aerospace -->
      <div class="course-card">
        <img
          class="course-image"
          src="static/assets/img/portfolio/portfolio-4.jpg"
          alt="Teaching"
        />
        <div class="course-details">
          <h2>Aerospace</h2>
          <p>
            Aerospace engineering deals with the design and development of
            aircraft, spacecraft, and related systems. It involves aerodynamics,
            materials science, and propulsion systems.
          </p>
          <p>
            Strong mathematics and physics background is crucial. Specific
            universities may have additional subject requirements, and some may
            require a minimum grade in KCSE.
          </p>
        </div>
      </div>

      <!-- Law -->
      <div class="course-card">
        <img
          class="course-image"
          src="static/assets/img/portfolio/portfolio-5.jpg"
          alt="Law"
        />
        <div class="course-details">
          <h2>Law</h2>
          <p>
            Law studies focus on understanding legal principles, systems, and
            practices. It prepares students for careers as lawyers, judges, or
            legal professionals.
          </p>
          <p>
            A good background in humanities and social sciences is often
            required. English and history might be important subjects.
            Additionally, some universities may have specific KCSE grade
            requirements.
          </p>
        </div>
      </div>

      <!-- Music -->
      <div class="course-card">
        <img
          class="course-image"
          src="static/assets/img/portfolio/portfolio-6.jpg"
          alt="Music"
        />
        <div class="course-details">
          <h2>Music</h2>
          <p>
            Music courses cover various aspects of music theory, performance,
            and composition. It includes the study of musical history, different
            genres, and practical skills.
          </p>
          <p>
            While specific requirements may vary, a background in music,
            including performance and theory, may be beneficial. Some
            universities may have auditions or portfolios as part of the
            application process.
          </p>
        </div>
      </div>

      <!-- Engineering -->
      <div class="course-card">
        <img
          class="course-image"
          src="static/assets/img/portfolio/portfolio-1.jpg"
          alt="Engineering"
        />
        <div class="course-details">
          <h2>Engineering</h2>
          <p>
            Engineering is a broad field that involves the application of
            scientific and mathematical principles to design and build
            structures, devices, systems, and processes. Specializations include
            civil, mechanical, electrical, and more.
          </p>
          <p>
            Typically, you need a strong background in mathematics and physics.
            Specific universities may have additional subject requirements, and
            some may require a minimum grade in KCSE.
          </p>
        </div>
      </div>
    </section>

    <footer style="margin-top: 12%">
      <small>
        Copyright © 2024 Course Recommendation System. All Rights Reserved.
      </small>
    </footer>
  </body>
</html>
